# IT Italiano

<Comment
>COMMENTO

<&Edit
>&Modifica

<&New
>&Nuovo

<&Open
>&Apri

<FWTree
>FWAlbero

<Graphic Editor
>Editor grafico

<General
>generale

<%s Project
>Progetto %s

<Add
>Aggiungi

<Location
>Posizione

<Find in project
>Cerca nel progetto

<Find
>Cerca

<Function
>Funzione

<Functions
>Funzioni

<Name
>Nome

<Type
>Tipo

<Address
>Indirizzo

<New project ...
>Nuovo progetto ...

<Open project ...
>Apri progetto ...
