<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Welcome page</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >

	<script src="welcome.js"></script>

	<style>
		.sfondo {
			background: url(./img/sfondo.png) no-repeat top right; 
		}

		.hoverButton, .hoverButton:link, .hoverButton:visited {
			background: url(./img/buttonBG.png) no-repeat top left;
		}

		.hoverButton:hover {
			background: url(./img/buttonBGHover.png) no-repeat top left;
		}
	</style>

	<link rel="stylesheet" href="welcome.css">
</head>

<body class="sfondo" scroll="auto">
	<input type="hidden" name=".DATAPATH" id="datapath">

	<img src="img/LogoPLab.png">

	<div>
		<a class="hoverButton" style="margin-top: 20px" href="#" onclick="OpenPrj()">
			<img src="img/openPrj.png">
			<span style="position:relative;top:-5px"><t:t>Open project ...</t:t></span>
		</a>
	</div>

	<div class="row" style="margin-top: 10px;">
		<div class="column">
			<div class="row">
				<div class="box box-targets">
					<div class="title"><t:t>Target selection</t:t></div>

					<div class="new-prj-container">
						<table class="list-catalog-table" id="catalogTbl">
						</table>
					</div>
				</div>

				<div class="box box-targets" style="border-left: none;">
					<div class="title"><t:t>new project...</t:t></div>

					<div class="new-prj-container">
						<table class="list-catalog-table" id="templatesTbl">
							<tr>
								<td class="catalog-item template disabled">
									<div>
										<span>No target selected</span>
										<span>Select a target to see the avaiable templates</span>
									</div>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>

			<div class="box noborder" style="margin-top: 10px;">
				<div class="title singlebox">
					<span><t:t>open recent projects</t:t>...</span>

					<span id="mruFilterContainer">
						<t:t>Filtered by</t:t>:
						<span class="filter" title="Selected target">
							<span id="mruFilterName"></span>
							<span onclick="RemoveTargetFilter()" title="Remove filter">&times;</span>
						</span>
					</span>
				</div>
				<table id="mru" class="mruTable">
					<tr>
						<td width="150px"><b><t:t>File name</t:t></b></td>
						<td width="220px"><b><t:t>Target name</t:t></b></td>
						<td width="60px"><b><t:t>Version</t:t></b></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
		
	<script>
		InitPage()
	</script>

</body>
</html>
